@import "../../global.scss";

.o-projektu-container {
  margin-top: 3.8rem;
  .o-projektu-navigation {
    width: fit-content;
    @include box-center;
    padding: 0.5rem;
    margin: 1rem auto;
    background: $pozadina_nav_oprojektu;
    border-radius: 2rem;
    ul {
      @include box-center;
      li {
        padding: 0.7rem 1.5rem;
        a {
          color: #fff;
          transition: all ease-in 0.2s;
        }
        a:hover {
          color: $crvena;
        }

        &.active {
          background: $crvena;
          border-radius: 2rem;
          a {
            color: #fff !important;
          }
        }
      }
    }
  }

  .o-projektu-uvod {
    @include box-center($justify: space-around);
    gap: 2rem;
    padding: 4rem 2rem;
    .slika {
      display: contents;
      margin-right: 2rem;
      img {
        width: 26rem;
      }
    }
    .tekst {
      padding-left: 6rem;
      color: #fff;
      h2 {
        margin-bottom: 2rem;
      }
    }
  }

  .donji-nav {
    background: $crvena;
    height: 15rem;
    @include box-center($direction: column);
    p {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 900px) {
  .o-projektu-container {
    .o-projektu-uvod {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 600px) {
  .o-projektu-container {
    .o-projektu-uvod {
      .slika {
        img {
          width: 20rem;
        }
      }
    }
    .o-projektu-navigation {
      font-size: 1rem;
      margin: 1rem auto 0 auto;
      ul {
        flex-direction: column;
        li {
          white-space: nowrap;
        }
      }
    }
  }
}
