@import "../../global.scss";

.zaposleni {
  width: 18rem;
  padding: 1rem 2rem;
  @include box-center($direction: column);
  background: $pozadina_tamna;
  border-radius: 1rem;
  box-shadow: 0 2px 15px #000;
  .zaposleni-wrapper {
    @include box-center($direction: column);
  }
  .zaposleni-name {
    color: $naslov_tamna;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
  .zaposleni-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  .zaposleni-je-rekao {
    text-align: center;
  }
}
