@import "../../global.scss";

.uspesna-prijava {
  @include box-center($direction: column, $justify: space-around);
  min-height: calc(100vh - 5rem);
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  img {
    width: 50%;
  }
  h2 {
    font-size: 2rem;
  }
  color: white;
}

.prijava-wrapper {
  .none {
    display: none;
  }
}

.prijava-container {
  button {
    border-radius: 2rem;
  }
}

.prijava-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  padding: 4rem;
  .none {
    display: none;
  }
  h2 {
    color: white;
    margin-bottom: 0.6rem;
    font-size: 1.8rem;
  }

  .prijava-container {
    background-color: #24282a;
    border-radius: 2rem;
    .form-steps {
      display: flex;
      justify-content: space-between;
      color: white;
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }

    .step,
    .step-marked {
      text-align: center;
      padding: 1rem;
      flex-grow: 1;
    }

    .gradient-background {
      background-image: linear-gradient(to right, #ffadad, #e8455d);
      display: flex;
      flex-grow: 2;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

    .input-page {
      padding: 2rem;
      padding-bottom: 0rem;
      display: flex;
      flex-direction: column;
    }

    .input-title {
      color: #686b6d;
      margin-bottom: 2.5rem;
    }

    .input-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }

    .field {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 2rem;
      box-sizing: border-box;
      resize: vertical;
      background-color: #ffd8d8;
      outline: none;
      resize: none;
      margin-bottom: 1rem;
    }

    .textarea {
      height: 8rem;
      width: 100%;
    }

    .error {
      color: $crvena;
      font-style: italic;
    }

    .field-group {
      width: 70%;
    }

    .label-group {
      width: 25%;
    }

    .desc {
      font-size: 1.1rem;
      color: white;
    }

    .more-info {
      width: 90%;
      color: #686b6d;
      font-size: 0.9rem;
      margin-top: 0.2rem;
    }

    .check-group {
      display: flex;
      flex-direction: column;
    }

    .checkbox-group {
      font-size: 1.1rem;
      color: white;
      margin-bottom: 1rem;
    }

    .checkbox {
      width: 1.1rem;
      height: 1.1rem;
      border: none;
      margin-right: 1rem;
      transform: translateY(2px);
    }

    .another-option {
      color: white;
      text-align: center;
      margin-top: 0.5rem;
    }

    .white-dugme {
      border: 0;
      border-radius: 1rem;
      height: 2.5rem;
      margin-top: 0.5rem;
      background-color: white;
      font-weight: bold;
      width: 100%;
    }

    .red-dugme {
      border: 0;
      border-radius: 1rem;
      height: 2.5rem;
      margin-top: 0.5rem;
      background-color: $crvena;
      color: white;
      font-weight: bold;
      width: 100%;
    }

    .button-group {
      @include box-center;
    }

    .label-group-middle {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .prijava-flex {
    padding: 1rem;
    padding-top: 4rem;
  }
  .uspesna-prijava {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }

  .label-group,
  .label-group-middle,
  .desc {
    width: 100% !important;
    margin-bottom: 0.5rem;
  }
  .field-group {
    width: 100% !important;
  }

  .uspesna-prijava {
    img {
      width: 70%;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}
