@import "../../global.scss";

.agenda-container {
  min-height: 100vh;
  width: 100%;
  @include box-center($direction: column);
  position: relative;
  margin-top: 4rem;
  h2 {
    z-index: 9;
    color: #fff;
    font-size: 1.8rem;
  }
  .agenda-content {
    @include box-center($direction: column);
  }
  .balls-anim {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40%;
    &:nth-child(2) {
      top: 50%;
    }
    .first-group {
      position: absolute;
      left: 20%;
      .ball:first-child {
        box-shadow: inset 10px -9px 31px 7px #000000eb,
          7px 9px 16px 3px #0000004a;
        animation-duration: 30s;
        &::after {
          box-shadow: 0 3px 15px 19px rgb(255 255 255 / 47%);
        }
      }
    }
    .second-group {
      position: absolute;
      top: 60%;
      right: 30%;
    }
    .third-group {
      position: absolute;
      top: 30%;
      right: 20%;
      .ball:first-child {
        box-shadow: inset 6px -1px 37px 2px #000000a6,
          7px 9px 16px 3px #0000004a;
        z-index: 10;
        position: absolute;
        top: 2rem;
        left: 3rem;
        animation-duration: 30s;
        &::after {
          top: 2.2rem;
          left: 5.1rem;
          box-shadow: -32px -5px 30px 15px rgb(255 255 255 / 37%);
        }
      }
    }
  }

  .line-balls {
    .line {
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translateX(-50%);
      height: calc(100% - 4rem);
      width: 0.1rem;
      border-radius: 1rem;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
  .balls {
    img {
      position: absolute;
      transform: translateX(-50%);
    }
    img:nth-child(1) {
      top: 17rem;
    }
    img:nth-child(2) {
      top: 44rem;
    }
    img:nth-child(3) {
      top: 64rem;
    }
    img:nth-child(4) {
      top: 82.5rem;
    }
  }
}

@media only screen and (max-width: 1170px) {
  .agenda-container {
    .line-balls {
      .line {
        left: 4rem;
      }
      .balls {
        img {
          left: 4rem;
        }
        img:nth-child(1) {
          top: 12rem;
        }
        img:nth-child(2) {
          top: 78rem;
        }
        img:nth-child(3) {
          top: 129rem;
        }
        img:nth-child(4) {
          top: 157rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .agenda-container {
    padding-left: 1.5rem;
    .line-balls {
      .line {
        left: 1rem;
      }
      .balls {
        img {
          left: 1rem;
        }
      }
    }
  }
}
