@import "../../global.scss";

.agenda-item {
  z-index: 5;
  margin: 4rem 0;
  @include box-center;
  color: #fff;
  &.obrnuto {
    flex-direction: row-reverse;
    .right-content {
      transform: translateX(-10rem);
    }
  }
  .left-content {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    padding: 1.5rem;
    border-radius: 1rem;
    h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    .mesto {
      font-weight: 300;
      @include box-center;
    }
  }
  .right-content {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    padding: 1.5rem;
    border-radius: 1rem;
    transform: translateX(10rem);
    width: 26rem;
    ul {
      @include box-center($direction: column);
      align-items: flex-start;
      li {
        font-weight: 300;
        @include box-center($justify: space-around);
      }
      span {
        padding: 0.5rem 0.4rem;
        color: #fff;
        &:nth-child(1) {
          font-weight: 500;
          white-space: nowrap;
        }
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .agenda-item,
  .agenda-item.obrnuto {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    .left-content {
      padding: 1rem;
      h3 {
        text-align: left;
      }
    }
    .right-content {
      padding: 1rem;
      width: 18.3rem;
      transform: translateX(0);
      span:nth-child(1) {
        padding: 1rem 1rem 1rem 0;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .agenda-item,
  .agenda-item.obrnuto {
    .right-content {
      ul {
        li {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
