@import "../../global.scss";
.input-wrapper {
  margin-top: 1rem;
  .name-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    .delete-btn {
      margin-left: 1rem;
      width: 2.8rem;
      border-radius: 0.5rem;
      border: 0;
      background-color: $red;
    }
  }
}
