@import "../../global.scss";

.ref-start {
  position: absolute;
  top: 0;
  left: 0;
}
.home-container {
  margin-top: 8rem;
  .hero-section {
    min-height: 100vh;
    overflow: hidden;
    @include box-center;
  }
  .companies-section {
    position: relative;
    min-height: 100vh;
    background: $bg_gray;
  }
  .balls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    .first-group {
      position: absolute;
      top: 20%;
      left: 8%;
      .ball:first-child {
        box-shadow: inset 10px -9px 31px 7px #000000eb,
          7px 9px 16px 3px #0000004a;
        animation-duration: 38s;
        &::after {
          box-shadow: 0 3px 15px 19px rgb(255 255 255 / 47%);
        }
      }
    }
    .second-group {
      position: absolute;
      top: 60%;
      right: 18%;
      .ball:last-child {
        box-shadow: inset 10px -9px 51px 11px #000000eb,
          7px 9px 16px 3px #0000004a;
        animation-duration: 60s;
        &::after {
          top: 4.2rem;
          left: 9.1rem;
          box-shadow: 0 4px 49px 39px rgb(255 255 255 / 47%);
        }
      }
    }
    .third-group {
      position: absolute;
      top: 15%;
      right: 28%;
      .ball:first-child {
        box-shadow: inset 6px -1px 37px 2px #000000a6,
          7px 9px 16px 3px #0000004a;
        z-index: 10;
        position: absolute;
        top: 2rem;
        left: 3rem;
        animation-duration: 35s;
        &::after {
          top: 2.2rem;
          left: 5.1rem;
          box-shadow: -32px -5px 30px 15px rgb(255 255 255 / 37%);
        }
      }
    }
  }
  .content {
    @include box-center($justify: space-around);
    margin-bottom: 10rem;
  }
  .glass-container {
    margin: 0 1rem;
    width: 45%;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    border-radius: 1rem;
    h1 {
      text-transform: uppercase;
      color: $active_link;
      width: 50%;
      font-weight: 900;
      padding: 1rem;
    }
    h2 {
      text-transform: uppercase;
      color: $active_link;
      font-weight: 300;
      padding-left: 1rem;
      span {
        color: $red;
      }
    }
    .hero-text {
      padding: 1rem;
      color: $text_gray;
      font-weight: 300;
    }
    .timer {
      @include box-center($justify: space-around);
      background: $red;
      padding: 1rem 0;
      color: $active_link;
      div {
        @include box-center($direction: column);
        p:first-child {
          font-size: 1.7rem;
        }
      }
    }
    .button-group {
      padding: 1rem 0;
      @include box-center($justify: space-around);
      button {
        border-radius: 2rem;
        padding: 0.4rem 1.9rem;
        color: #fff;
        outline: none;
        cursor: pointer;
        box-shadow: 2px 6px 13px #00000026;
        &.crveno {
          border: none;
          background: #cc203a;
          a {
            color: #fff;
          }
        }
        &.transparent {
          border: 2px solid #fff;
          background: transparent;
          a {
            color: #fff;
          }
        }
      }
    }
    .img-wrapper {
      padding: 1.5rem;
      img {
        @include fit-image;
      }
    }
    &:last-child {
      width: 35%;
    }
  }
  .companies-section {
    .balls {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      .first-group {
        position: absolute;
        top: 40%;
        left: 20%;
        .ball:first-child {
          box-shadow: inset 10px -9px 31px 7px #000000eb,
            7px 9px 16px 3px #0000004a;
          animation-duration: 30s;
          &::after {
            box-shadow: 0 3px 15px 19px rgb(255 255 255 / 47%);
          }
        }
      }
      .second-group {
        position: absolute;
        top: 60%;
        right: 30%;
        .ball:last-child {
          box-shadow: inset 10px -9px 31px 7px #000000b8,
            7px 9px 16px 3px #0000004a;
          animation-duration: 60s;
          &::after {
            top: 2.2rem;
            left: 5.1rem;
            box-shadow: 0 4px 27px 20px rgb(255 255 255 / 47%);
          }
        }
      }
      .third-group {
        position: absolute;
        top: 30%;
        right: 20%;
        .ball:first-child {
          box-shadow: inset 6px -1px 37px 2px #000000a6,
            7px 9px 16px 3px #0000004a;
          z-index: 10;
          position: absolute;
          top: 2rem;
          left: 3rem;
          animation-duration: 30s;
          &::after {
            top: 2.2rem;
            left: 5.1rem;
            box-shadow: -32px -5px 30px 15px rgb(255 255 255 / 37%);
          }
        }
      }
    }
    .how-to-join-container {
      padding: 2.5rem 3rem;
      width: 95%;
      border-radius: 2rem;
      background: $bg_gray;
      margin: auto;
      transform: translateY(-5rem);
      box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.433);
      @include box-center($direction: column);
      h3 {
        margin-bottom: 1rem;
        color: $bg_dark;
        font-size: 1.65rem;
        width: 55%;
        text-align: center;
        font-weight: 600;
      }
      p {
        font-size: 1.4rem;
        font-weight: 500;
        color: $text_dark;
      }
    }
    .participating-companies {
      @include box-center($justify: center, $direction: column);
      h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        z-index: 2;
      }
      .companies-logos {
        z-index: 2;
        @include box-center($justify: space-around);
        flex-wrap: wrap;
        .partner-wrapper {
          overflow: hidden;
          width: 18rem;
          height: 9rem;
          margin: 2rem 3.6rem;
          background: #fff;
          border-radius: 1.2rem;
          @include box-center($justify: center);
          box-shadow: 0 32px 40px rgba(0, 0, 0, 0.15);
        }
        .img-wrapper {
          width: 90%;
          img {
            @include fit-image;
          }
        }
      }
    }
    .other-companies {
      z-index: 2;
      @include box-center($justify: center);
      flex-wrap: wrap;
      width: 95%;
      gap: 25%;
      margin-bottom: 5rem;
      margin-top: 3rem;
      .annual-partners,
      .natural-partners,
      .media-partners {
        margin-top: 1rem;
        width: 12rem;
        h3 {
          text-align: center;
        }
        .partner-wrapper {
          width: 10rem;
          height: 10rem;
          background: #fff;
          border-radius: 2rem;
          box-shadow: 0 32px 40px rgba(0, 0, 0, 0.15);
          @include box-center($justify: center);
          .img-wrapper {
            width: 80%;
            img {
              @include fit-image;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .home-container {
    .companies-section {
      .how-to-join-container {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 2rem;
        h3 {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .home-container {
    margin-top: 5rem;
    .content {
      flex-direction: column-reverse;
      .glass-container {
        width: 90%;
        margin: 1rem 0;
        &:last-child {
          width: 70%;
        }
      }
    }
  }
}

//partners

.partners {
  padding: 4rem;
  padding-top: 5rem;
  margin-bottom: 10rem;

  .pokrovitelj,
  .generalni,
  .naturalni,
  .medijski {
    @include box-center(column, center);
  }

  .generalniNaslov {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  .naturalniNaslov,
  .medijskiNaslov {
    margin-top: 2.2rem;
    font-size: 1.8rem;
    text-align: center;
  }
}

.slick-slide > :first-child {
  @include box-center(row, center);
}

@media only screen and (max-width: 500px) {
  .home-container {
    .companies-section {
      .how-to-join-container {
        padding: 1rem;
      }
    }
  }
}
