@import "../../global.scss";

.about-project-container {
  margin-top: 3.8rem;
  .about-project-navigation {
    width: fit-content;
    @include box-center;
    padding: 0.5rem;
    margin: 1rem auto;
    background: $bg_nav;
    border-radius: 2rem;
    ul {
      @include box-center;
      li {
        padding: 0.7rem 1.5rem;
        a {
          color: #fff;
          transition: all ease-in 0.2s;
        }
        a:hover {
          color: $red;
        }

        &.active {
          background: $red;
          border-radius: 2rem;
          a {
            color: #fff !important;
          }
        }
      }
    }
  }

  .about-project-intro {
    @include box-center($justify: space-around);
    gap: 2rem;
    padding: 4rem 2rem;
    min-height: calc(100vh - 8rem);
    .photo {
      display: contents;
      margin-right: 2rem;
      img {
        border-radius: 2rem;
        width: 26rem;
      }
    }
    .text {
      padding-left: 6rem;
      color: #fff;
      h2 {
        margin-bottom: 2rem;
      }
    }
  }

  .bottom-nav {
    background: $red;
    padding: 2rem 0;
    @include box-center($direction: column);
    p {
      text-align: center;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 900px) {
  .about-project-container {
    .about-project-intro {
      flex-direction: column;
      .text {
        padding-left: 0rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-project-container {
    .about-project-intro {
      .photo {
        img {
          width: 20rem;
        }
      }
    }
    .about-project-navigation {
      font-size: 1rem;
      margin: 1rem auto 0 auto;
      ul {
        flex-direction: column;
        li {
          white-space: nowrap;
        }
      }
    }
  }
}
