@import "../../global.scss";

.raiffeisen-kartica {
  position: relative;
  margin: 3rem 2rem;
  background: $pozadina_siva;
  border-radius: 2rem;
  padding: 2rem;
  color: $pozadina_tamna;
  button {
    cursor: pointer;
    background: $crvena;
    border-radius: 2rem;
    padding: 0.4rem 1.9rem;
    color: $aktivni_link;
    margin-top: 1rem;
    outline: none;
    border: none;
    box-shadow: 2px 2px 9px #000000cc;
  }
  .lopte-slika {
    width: 5rem;
    position: absolute;
    top: 2%;
    left: 40%;
    img {
      @include fit-image;
    }
  }
  .top {
    overflow: hidden;
    margin-bottom: 3rem;
    @include box-center;
    gap: 3rem;
    .left {
      font-size: 1.45rem;
      align-self: flex-start;
      z-index: 1;
      width: 45%;
      h2 {
        font-size: 2.1rem;
        color: #000;
      }
      p {
        margin: 1rem 0;
        overflow: hidden;
      }
    }
    .right {
      z-index: 1;
      width: 55%;
      font-size: 1.45rem;
    }
  }

  .bottom {
    @include box-center($justify: space-between);
    .prikazi-sakrij {
      cursor: pointer;
    }
    .saznaj-o-kompaniji {
      min-width: 31rem;
      padding: 1rem;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      @include box-center($justify: space-between);
      gap: 2rem;
      background: #fff;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
      p {
        color: $tekst_siva;
      }
      .img-wrapper {
        overflow: hidden;
        height: 3rem;
        width: 9rem;
        @include box-center;
        img {
          @include fit-image;
          max-height: 100%;
          height: initial;
        }
      }
    }
  }

  .predavaci-container {
    @include box-center;
    gap: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }

  .predavac {
    @include box-center;
    flex-direction: column;
    gap: 1rem;
    .img-wrapper {
      img {
        @include fit-image;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        object-position: top;
      }
    }
    .o-predavacu {
      @include box-center($direction: column);
      overflow: hidden;
      .predavac-ime {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #000;
      }
      .predavac-indikator {
        margin: 0.3rem 0;
      }
      .predavac-vise {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .raiffeisen-kartica {
    padding: 2rem 0.7rem 7rem 0.7rem;
    .predavaci-container {
      flex-direction: column;
    }
    .lopte-slika {
      display: none;
    }
    .top {
      flex-direction: column;
      .left,
      .right {
        width: 100%;
      }
    }
    .bottom {
      height: 9rem;
      width: 100%;
      flex-direction: column !important;
      position: absolute;
      bottom: 0;
      left: 0;
      .saznaj-o-kompaniji {
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 0;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .raiffeisen-kartica {
    .bottom {
      .saznaj-o-kompaniji {
        min-width: initial;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .raiffeisen-kartica {
    .predavac {
      flex-direction: column !important;
    }
  }
}
