@import "../../global.scss";

.o-nama-container{
  min-height: 100vh;
  color: #fff;
  @include box-center($direction:column);
  margin: 0 2rem;
  margin-top: 12rem;
  gap: 15rem;
  .o-nama-flex{
    @include box-center($justify: space-between);
    gap: 2rem;
    .left-content, .right-content{
      flex: 1;
    }
    .left-content{
      h2{
        font-size: 1.9rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }
      p{
        font-size: 1.1rem;
        font-weight: 300
      }
    }
    .right-content{
      @include box-center;
      .img-wrapper{
        width: 100%;
        height: 20rem;
        border-radius: 2rem;
        overflow: hidden;
        img{
          @include fit-image;
        }
      }
    }
    &:nth-child(2){
      flex-direction: row-reverse;
    }
  }
}

@media only screen and (max-width: 800px) {
  .o-nama-container{
    margin-top: 5rem;
    gap: 10rem;
    .o-nama-flex{
      flex-direction: column!important;
      .left-content{
        margin-bottom: 2rem;
      }
    }
  }
}


.logo-c2s {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  margin: 2rem;
  position: relative;
  .levi-trapez {
    border-bottom: 120px solid $crvena;
    border-right: 30px solid transparent;
    height: 0;
    width: 90px;
  }

  .srednji-trapez {
    border-bottom: 80px solid $crvena;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 70px;
    transform: rotate(180deg) translateX(14px);
  }

  .desni-trapez {
    border-bottom: 52px solid $crvena;
    border-left: 13px solid transparent;
    height: 0;
    width: 45px;
    transform: translateX(-20px);
  }
  .lopte-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .lop {
      cursor: pointer;
      position: absolute;
      width: 18px;
      height: 18px;
      color: $crvena;
      background: #fff;
      border-radius: 50%;
      z-index: 2;
      @include box-center;
      font-size: 0.7rem;
      font-weight: 500;
      box-shadow: inset 0 0 4px 3px rgba(0, 0, 0, 0.24);
      transition: all ease-in 0.2s;
      &.active {
        box-shadow: 0 0 4px 3px rgb(255 255 255 / 47%),
          inset 0 0 4px 3px rgba(0, 0, 0, 0.24);
        width: 21px;
        height: 21px;
      }
      &:hover {
        box-shadow: 0 0 4px 3px rgb(255 255 255 / 47%),
          inset 0 0 4px 3px rgba(0, 0, 0, 0.24);
      }
      &.lopta-1 {
        top: 8px;
        left: 13px;
      }
      &.lopta-2 {
        top: 50%;
        left: 42px;
        transform: translateY(-50%);
      }
      &.lopta-3 {
        bottom: 13px;
        left: 7px;
      }
      &.lopta-4 {
        top: 28px;
        left: 55%;
        transform: translateX(-50%);
      }
      &.lopta-5 {
        bottom: 28px;
        left: 52%;
        transform: translateX(-50%);
      }
      &.lopta-6 {
        right: 28px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .linije-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .lin {
      width: 5px;
      height: 42px;
      background: #fff;
      position: absolute;
      &.linija-1 {
        top: 26px;
        left: 22px;
        transform: rotate(-35deg) translateX(14px);
      }
      &.linija-2 {
        top: 50px;
        left: 22px;
        transform: rotate(44deg) translateX(14px);
      }
      &.linija-3 {
        top: 14px;
        left: 65px;
        transform: rotate(60deg) translateX(14px);
      }
      &.linija-4 {
        top: 37px;
        left: 68px;
        transform: rotate(10deg) translateX(16px);
      }
      &.linija-5 {
        top: 29px;
        left: 122px;
        transform: rotate(68deg) translateX(14px);
        height: 48px;
      }
    }
  }
}
