@import "../../../global.scss";

.wrap-otema {
  @include box-center($direction: row, $justify: space-between);
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .div-za-sliku {
      width: 80%;
    }
    .div-za-tekst {
      width: 100%;
    }
  }

  flex-wrap: wrap;
  width: 100%;
}

.div-za-sliku {
  width: 40%;

  .slika-otema {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
.div-za-tekst {
  width: 55%;
  .ime-otema {
    color: grey;
  }
  .tekst-otema {
    text-overflow: clip;
    width: 90%;
    color: white;
  }
}
