@import "../../global.scss";

.team-content {
  @include box-center;
  align-items: flex-start;
  .team-content-text {
    width: 60%;
    padding: 1rem;
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    p {
      font-size: 0.9rem;
      font-weight: 300;
    }
    .img-wrapper {
      width: 11rem;
      height: 11rem;
      border-radius: 50%;
      overflow: hidden;
      img {
        @include fit-image;
        object-position: top;
      }
    }
    .about-us-coordinator {
      @include box-center;
      margin-top: 2rem;
      gap: 2rem;
      justify-content: flex-start;
      h5 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        font-weight: 500;
      }
      p {
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
  }
  .about-us-content-img {
    width: 40%;
    padding: 1rem;
    .img-wrapper {
      border-radius: 2rem;
      overflow: hidden;
      width: 100%;
      img {
        border-radius: 2rem;
        @include fit-image;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .team-content {
    flex-direction: column;
    .team-content-text {
      width: 100%;
    }
    .about-us-content-img {
      margin-top: 2rem;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .team-content {
    .team-content-text {
      .about-us-coordinator {
        flex-direction: column;
      }
      .about-us-coordinator-text {
        @include box-center($direction: column);
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .team-content {
    .team-content-text {
      h2 {
        text-align: center;
      }
    }
  }
}
