@import "../../global.scss";

nav {
  @include box-center($justify: space-between);
  position: fixed;
  z-index: 100;
  padding: 1rem 2rem;
  width: 100vw;
  top: 0;
  background: transparent;
  .btn-application {
    background: $red;
    border-radius: 2rem;
    padding: 0.4rem 1.9rem;
    color: $active_link;
    outline: none;
    border: none;
    box-shadow: 2px 2px 9px #000000cc;
    a {
      color: $active_link;
    }
  }
}

.logo-wrapper {
  z-index: 100;
  min-width: 5rem;
  max-width: 7rem;
  img {
    @include fit-image;
  }
}

.links-wrapper {
  ul {
    @include box-center;
  }
  li {
    padding: 0 1rem;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    color: $text_gray;
    span {
      margin-right: 0.2rem;
    }
    &::before {
      left: 1rem !important;
    }
    &:hover::before {
      width: 80% !important;
    }
    &.active::before {
      width: 80% !important;
    }
    .sub-links {
      position: absolute;
      left: 0;
      width: 11rem;
      top: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.5rem;
      font-size: 1rem;
      background: $bg_dark;
      overflow: hidden;
      li {
        width: 10rem;
        white-space: normal;
        padding: 0.3rem 0.5rem;
        color: $active_link;
        transition: all ease-in 0.2s;
        border-radius: 1rem;
        margin: 0.2rem 0 0.2rem 0.5rem;
        &::before {
          display: none;
        }
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.hamburger-menu {
  @include box-center($direction: column, $justify: space-between);
  z-index: 100;
  height: 1rem;
  cursor: pointer;
  .line {
    width: 1.8rem;
    height: 0.2rem;
    border-radius: 0.2rem;
    background-color: $active_link;
  }
}

.menu {
  @include box-center($direction: column);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 51;
  background-color: $bg_dark;
  ul {
    @include box-center($direction: column, $justify: space-between);
    align-items: flex-start;

    li {
      text-transform: uppercase;
      font-size: 1.25rem;
      padding: 1vh 0;
      color: $text_gray;
      cursor: pointer;
      position: relative;
      font-weight: 500;
      transition: color ease-in 0.4s;
      &:hover {
        color: $active_link;
      }
      &.active {
        color: $active_link;
      }
    }

    .sub-links {
      overflow-y: scroll;
      li {
        padding: 0.5vh 0;
        color: $active_link;
        font-size: 1rem;
        font-weight: 400;
        text-transform: initial;

        &:first-child {
          padding: 1vh 0 0.5vh 0;
        }
      }
    }
  }
  .btn-application {
    cursor: pointer;
    background: $red;
    border-radius: 2rem;
    padding: 0.4rem 1.9rem;
    color: $active_link;
    margin-top: 1rem;
    outline: none;
    border: none;
    box-shadow: 2px 2px 9px #000000cc;
    a {
      color: $active_link;
    }
  }
}

.menu {
  @include box-center($justify: center);
}
.links-wrapper {
  @include box-center($justify: center);
  li::before {
    content: attr(datacontent);
    position: absolute;
    border-bottom: 3px solid $active_link;
    left: 0;
    color: $active_link;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.7s ease-in-out;
  }
  li:hover::before {
    width: 100%;
  }
}

.bg-container {
  height: 3.8rem;
  width: 100vw;
  background: $bg_dark;
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1275px) {
  .links-wrapper {
    display: none;
  }
  nav {
    .right {
      display: none;
    }
  }
  .bg-container {
    height: 3.1rem;
  }
}

@media only screen and (min-width: 1275px) {
  .hamburger-menu,
  .menu {
    display: none;
  }
}
