@import "../../global.scss";

.faq-container {
  background-color: #14181c;
  color: white;
  padding-right: 5vw;
  width: 97%;
}

ul {
  list-style: none;
  padding-left: 3vw;
  width: 100%;
}

ul li {
  margin: 0 0 12px 0;
  position: relative;
}

.questions {
  display: flex;
  flex-direction: row;
  margin-left: 2.5rem;
}

ul li::before {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, white;
  position: absolute;
  left: -2.5rem;
  line-height: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  top: 0;
  background: rgb(204, 32, 58);
  border-radius: 50%;
  text-align: center;
}

.naslov1 {
  margin-left: 2rem;
}
.naslov2 {
  margin-top: 2.5rem;
  flex: 1;
}

.answers {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sve {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  right: 0;
  text-align: center;
  margin-top: 3vw;

}

.slika1 {
  width: 34%;
  left: 0%;
}

@media (min-width: 426px) {
  .slika1 {
    position: relative;
  }

  .slika-levo {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
}

.mejl {
  display: flex;
  flex-direction: column;
  right: 0%;
  padding-right: 0;
  width: 66%;
  height: fit-content;
}

.unos {
  border: 1px solid #5f6368;
  background-color: rgb(196, 196, 196);
  border-radius: 1rem;
  margin-bottom: 0.6rem;
  padding-left: 0.4rem;
  outline: 0px none transparent;
}

.unos1 {
  height: 2.15rem;
}

.unos2 {
  height: 8rem;
  padding-top: 0.4rem;
}

.dugme {
  border: none;
  background-color: rgb(204, 32, 58);
  border-radius: 1.5rem;
  height: 2.45rem;
  width: 100%;
  color: white;
}

.oko-dugme {
  position: relative;
  margin-top: -0.3rem;
  width: 100%;
}

.polja {
  width: 100%;
}

textarea {
  resize: none;
}

.odg {
  position: relative;
  border: 1px solid white;
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: rgb(24, 29, 31);
}

@media (max-width: 426px) {
  .answers {
    width: 103%;
  }

  .naslov2 {
    margin-bottom: -0.25vh;
  }
  .slika1 {
    width: 78vw;
    height: 20vh;
    align-items: center;
  }
  .slika-levo {
    width: auto;
    height: 19vh;
  }

  .mejl {
    width: 100%;
  }
}
