@import "../../global.scss";

.faq-question {
  margin: 0 0 12px 0;
  counter-increment: my-counter;
  position: relative;
  &::before {
    content: counter(my-counter);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, white;
    position: absolute;
    --size: 26px;
    left: -40px;
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: rgb(204, 32, 58);
    border-radius: 50%;
    text-align: center;
  }
  .odg {
    position: relative;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: rgb(24, 29, 31);
  }
}
